export(HierDq)
export(HierDstr)
export(HierDplot)
export(HierDstrp)
export(PlothieD)
export(HierDgenind)
export(normalize)
export(rDivgeomap)
export(dDivgeomap)
export(dgDivgeomap)
export(ggDivgeomap)
importFrom("HierDpart", "Str")
importFrom("entropart","Diversity")
importFrom("diveRsity", "readGenepop")
importFrom("adegenet","df2genind","seploc",".genlab")
importFrom("hierfstat","genind2hierfstat", "allele.count")
importFrom("ggraph","ggraph","geom_node_circle","geom_node_text","scale_fill_viridis")
importFrom("igraph", "graph_from_data_frame")
import("rnaturalearth")
import("data.tree")
import("circlepackeR")
import("rnaturalearth")
import("rworldmap")
importFrom("rgeos","plot")
import("ggplot2")
import("ggmap")
importFrom("dplyr","%>%","distinct")
importFrom("grDevices", "rgb")
importFrom("graphics", "points")
importFrom("stats", "median")
importFrom("utils", "head", "install.packages")
import("devtools")